name: Scrap freework

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Exécution toutes les heures
    - cron: '0 * * * *'
  workflow_dispatch:  # Permet l'exécution manuelle du workflow

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      # Étape 1 : Checkout du code
      - name: Checkout code
        uses: actions/checkout@v2

      # Étape 2 : Installer les dépendances Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Étape 3 : Définir les variables d'environnement secrètes
      - name: Set environment variables
        env:
          MONGO_COLLECTION: ${{ secrets.MONGO_COLLECTION }}
          MONGO_DB: ${{ secrets.MONGO_DB }}
          MONGO_HOST: ${{ secrets.MONGO_HOST }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
          MONGO_USER: ${{ secrets.MONGO_USER }}
        run: |
          echo "Running scraper script"
          python main.py
          python update.py
